{% if post.citation and post.paperurl and post.slidesurl and post.bibtexurl %}
  <p><strong>Recommended citation:</strong></p>
  {{ post.citation | markdownify }}
  <p>
    <a href="{{ post.paperurl }}">Download Paper</a> |
    <a href="{{ post.slidesurl }}">Download Slides</a> |
    <a href="{{ post.bibtexurl }}">Download Bibtex</a>
  </p>

{% elsif post.citation and post.paperurl and post.slidesurl %}
  <p><strong>Recommended citation:</strong></p>
  {{ post.citation | markdownify }}
  <p>
    <a href="{{ post.paperurl }}">Download Paper</a> |
    <a href="{{ post.slidesurl }}">Download Slides</a>
  </p>

{% elsif post.citation and post.paperurl and post.bibtexurl %}
  <p><strong>Recommended citation:</strong></p>
  {{ post.citation | markdownify }}
  <p>
    <a href="{{ post.paperurl }}">Download Paper</a> |
    <a href="{{ post.bibtexurl }}">Download Bibtex</a>
  </p>

{% elsif post.citation and post.paperurl %}
  <p><strong>Recommended citation:</strong></p>
  {{ post.citation | markdownify }}
  <p>
    <a href="{{ post.paperurl }}">Download Paper</a>
  </p>

{% elsif post.citation and post.bibtexurl %}
  <p><strong>Recommended citation:</strong></p>
  {{ post.citation | markdownify }}
  <p>
    <a href="{{ post.bibtexurl }}">Download Bibtex</a>
  </p>

{% elsif post.citation %}
  <p><strong>Recommended citation:</strong></p>
  {{ post.citation | markdownify }}

{% elsif post.paperurl and post.bibtexurl %}
  <p>
    <a href="{{ post.paperurl }}">Download Paper</a> |
    <a href="{{ post.bibtexurl }}">Download Bibtex</a>
  </p>

{% elsif post.paperurl %}
  <p><a href="{{ post.paperurl }}">Download Paper</a></p>

{% elsif post.bibtexurl %}
  <p><a href="{{ post.bibtexurl }}">Download Bibtex</a></p>
{% endif %}
