{% include base_path %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">

    {% if post.authors and post.citation %}
      {% assign authors_str = "" %}
      {% for author in post.authors %}
        {% if author.corresponding %}
          {% assign authors_str = authors_str | append: author.name | append: "*" %}
        {% else %}
          {% assign authors_str = authors_str | append: author.name %}
        {% endif %}

        {% if forloop.last == false %}
          {% assign authors_str = authors_str | append: ", " %}
          {% if forloop.index == forloop.length - 1 %}
            {% assign authors_str = authors_str | append: "and " %}
          {% endif %}
        {% endif %}
      {% endfor %}

      {% assign citation_parts = post.citation | split: "|" %}
      {% assign paper_title = citation_parts[0] %}
      {% assign venue_info = citation_parts[1] %}

      <p>{{ authors_str }}. <a href="{{ post.paperurl }}">{{ paper_title }}</a>. <i>{{ venue_info }}</i>.</p>
    {% endif %}

  </article>
</div>
